@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';

:root {
  height: 100%;

  /*--digi--layout-container: black;*/

  /*containers bakgrundsfärg*/
  --digi--color--background--primary: #000000;

  /*body bakgrundsfärg*/
  .sc-digi-layout-block-h {
    --digi--layout-block--background--tertiary: #000000;
  }

  /*text color*/
  --digi--color--text--primary: white;

  /*button background color*/
  --digi--button--color--background--primary--default: #808080;

  /*
  digi-typography a{
    color: red;
  }
    */

  /*Ad text color*/
  .sc-digi-info-card-multi-h .digi-info-card-multi__link.sc-digi-info-card-multi {
  color: red;
  }

  /*Ad border color*/
  --digi--color--border--secondary: #808080;


  /*  
  --digi--button--color--background--primary--default: rgb(0, 47, 255);
  --digi--button--color--background--primary--hover: yellow;
  --digi--button--color--background--primary--focus:red;
  --digi--button--color--background--primary--active:green;
  */


  /*button styling*/
  .sc-digi-button-h .digi-button.sc-digi-button {
      background-color: #000000;
      border-radius:0px;
      border-width: 5px;
      border-style: dotted;
      border-color: #808080;
      color: yellow;;
  }

  /*heading styling*/
  digi-typography{
    h1, h2, h3{
      color: red;
    }
  }
}

/* Test */


body {
  margin: 0;

}

main {

  flex: 1;
  width: 100%;
  margin-bottom: 1rem;
  min-height: 58.3dvh; /* Temporary to fill out page, couldn't make root take up 100% height*/
}

header {
  background-color: lightblue;
  margin-bottom: 1rem;
}

footer {
  background-color: lightgrey;
}
